* {
  outline: none;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  position: relative;
}
html {
  overflow-y: hidden;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
