/* FX FIX */
.container, section {
  min-width: $container-sm;
}

/* COLORS */

$clDarkBlue: #5faad3;
$clLightBlue: #afd5e9;
$clDarkGreen: #81cc81;
$clLightGreen: #a4e2a4;
$clDarkGrey: #d4d2d2;
$clLightGrey: #e2e2e2;
$clBlack: #000000;
